
header{
    height: 40px;
}
img{
    max-height: 50px;
    max-width: 60px;
}
#btn{
    float: right;
}
#msg{
    float: left;
}
.col-md-8{
    padding: 10px;
    border: 1px solid black;
}
form{
    padding: 10px;
}
input{
    margin: 5px;
}
.row{
    padding: 20px;
}
