
header{
    border-bottom: 1px solid;
    margin-bottom: 40px;
    background-color: beige;
}
img{
    border-radius: 8px;
    padding: 10px;
    max-height: 55px;
    min-width: 150px;
}

#info{
    float: right;
    margin: 40px;
}
#logo{
    float: left;
    margin-left: 40px;
}

.main_content{
    height: 600px;
    margin: 40px;
    padding: 30px;
}
input{
    padding: 10px;
}
.login_form{
    background-color: #F0F0F0;
    border: 1px solid black;
    margin: 0 auto;
    display: block;
    text-align: center;
    padding: 10px;
    width: 80%;
    /* height: 80%; */
}
.form{
    background-color:white;
    display: block;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.control{
    width: 60%;
    margin: 20px;
}
