
{% extends "base.html" %}

{% block head%}
<link rel="stylesheet" href="{{url_for('static', filename='css/dashboard.css')}}">
<title>Dashboard</title>
{%endblock head%}>

{% block content%}
    <header>
        <div class="container-fluid">
    </header>
    
  <div class="container-fluid">
  <div class="row">
      <div class="col-md-2">

      </div>
      <div class="col-md-8">
            <div class="row" style="border-bottom: 1px solid black;">
                    <div class="col-md-9">
                            <h4>Shopping List</h4>
                    </div>
                    
                    <div class="col-md-3">
                        <form ction="{{url_for('shopping_lists')}}" method="POST">
                            <button type="submit" class="btn btn-primary float-right">Manage Shopping Lists</button>   
                        </form>
                    </div>       
            </div>
            <div class="row">
                <div class="col-md-2">

                </div>
                <div class="col-md-8">
                        <form class="form-inline" action="">
                            <input type="text" class="form-control" id="username" placeholder="Item">
                            <input type="text" class="form-control" id="username" placeholder="Quantity">
                            <input type="text" class="form-control" id="username" placeholder="Price">
                            <button type="submit" class="btn btn-primary">Add</button>
                        </form>  
                </div>
                <div class="col-md-2"> 
                </div>
            </div>
            <div class="row">
                    <div class="col-md-2">
                      
                    </div>
                    <div class="col-md-8">
                            <table class="table table-striped">
                                    <thead>
                                      <tr>
                                        <th>Item</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                        <th>Action</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>Watch</td>
                                        <td>2</td>
                                        <td>700</td>
                                        <td><button type="submit" class="btn btn-primary">Action</button></td>
                                      </tr>
                                      <tr>
                                        <td>Mug</td>
                                        <td>3</td>
                                        <td>75</td>
                                        <td><button type="submit" class="btn btn-primary">Action</button></td>
                                      </tr>
                                      <tr>
                                        <td>Buckets</td>
                                        <td>2</td>
                                        <td>150</td>
                                        <td><button type="submit" class="btn btn-primary">Action</button></td>
                                      </tr>
                                    </tbody>
                                  </table>
                            
                    </div>
                    <div class="col-md-2">
                            
                    </div>
    
                </div>
      </div>
      <div class="col-md-2">
            
      </div>
  </div>

  </div>
  {% endblock content%}