
{% extends "base.html" %}

{% block head%}
<link rel="stylesheet" href="{{url_for('static', filename='css/sign_up.css')}}">
<title>Sign Up</title>
{%endblock head%}

{% block content%}
<div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
              </div>
              <div class="col-md-4">
                  <form action="{{url_for('sign_up')}}" method="POST">
                      <h5><u>Signup Here</h5>
                        <div class="form-group">
                            <input type="text" class="form-control" id="username" placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="username" placeholder="Last Name">
                        </div>
                      <div class="form-group">
                        <input type="email" class="form-control" id="email" placeholder="Email Adress">
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control" id="username" placeholder="Username">
                      </div>
                      <div class="form-group">
                        <input type="password" class="form-control" id="password" placeholder="Password">
                      </div>
                      <button type="submit" class="btn btn-primary">Create Account</button>
                      <br>
                      <a href="#">log in</a>
                  </form>
              </div>
              <div class="col-md-4">   
              </div>
        </div>
        </div>

{% endblock content%}