<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% endblock head %}
    <!-- stylesheets -->
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap-4/css/bootstrap.min.css')}}"> 
    {% block style %}
    {% endblock style %}
</head>
<body>
    {% block content%}

    <script src="bootstrap-4/js/bootstrap.min.js"></script>
    <script src="js/jquery-3.2.1.min.js"></script>
    {% endblock content%}
    
</body>
</html>