

{% extends "base.html" %}

{% block head%}
<title>Login</title>
{%endblock head%}


{% block style %}
<!-- <link rel="stylesheet" href="{{url_for('static', filename='css/sign_in.css')}}">  -->
<link rel="stylesheet" href="../static/css/sign_in.css">
{% endblock style %}




{% block content %}

<div class="container">
        <form class="form-signin" action="{{url_for('sign_in')}}" method="POST">
        <h2 class="form-signin-heading">Enter Your Credentials</h2>
        <label for="username" class="sr-only">User Name</label>
        <input type="text" id="username" class="form-control" placeholder="Enter Username" required="">
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" class="form-control" placeholder="Enter Password" required="">
        <button class="btn btn-lg btn-primary" type="submit">Log in</button>
        </form>
</div>

{% endblock content %}